/* Header Styling */

header {
  margin: 1%;
  padding: .01%;
}

header > h1 {
  color: rgb(31, 99, 1);
  text-align: center;
  font-style: oblique;
  font-size: 26px;
  }

header > ul {
  overflow: hidden;
  background-color: #f1f1f1;
  }

header > ul > a {
  float: left;
  color: black;
  text-align: center;
  padding: 1%;
  text-decoration: none;
  font-size: 18px;
  list-style-type: none;
  padding-left: 5.25%;
  padding-right: 5.25%;
  margin-left: 2%;
  margin-right: 3%;
  margin-top:3%;
  margin-bottom:3%;
  border: 0.5%;
  border-style:solid;
  border-radius:5px;
  }

header> ul > li {
  background-color: red;
  display: inline;

  }

/* Body Styling */

body {
    background-color: white;
    max-width: 60%;
    min-height: 100%;
    align-self: center;
    background-position: center;
    font-family: "Lato", sans-serif;
    margin: auto auto auto auto;
    padding-left: 30px;
    padding-right: 30px;
    filter:drop-shadow(15px 10px 20px #000000);
    }

body > h1 {
  color:rgb(31, 99, 1);
  }

 p {
  text-indent: 20px;
  text-align: left;
  font-size: 18px;
  }

body > ul{
  width: 20%;
  margin: auto;
}

/* HTML Styling */

html {
  background-image: url(images/background.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  height: 100%;
  margin: 0; padding: 0; border: 0;
  }

/* Footer Styling */

footer {
  background-color: #f1f1f1;
}

footer > p {
  font-size: 18px;
  text-align: center;
}

footer > p:last-child {
  margin-bottom: 50px;
  padding-bottom: 25px;
  font-size: 8px;
}

footer > p:first-child {
  margin-top: 50px;
  padding-top: 25px;
}
