.greenDiv {
  background-color: rgba(0, 247, 17, 0.3);
  padding: 2%;
  margin: 4%;
  box-shadow: 2px 4px 6px 4px rgba(0,247,17,.5);
}


/* Open Nav Bar */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 15px;
}

/* Nav Bar Links */

.sidenav a {
    padding: 8px 8px 8px 28px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* Nav Bar Link on Hover */

.sidenav a:hover {
    color: green;
    transition: .75s;
}

/* Active Page on Nav bar */

.sidenav a:active {
  color: rgb(15, 180, 32)
}

/* Close Nav bar */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Body Text */

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* Screen Padding */

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.divWide {
  color: rgb(31, 99, 1);
  text-align: center;
  font-style: oblique;
  font-size: 12px;
  }
